# Flask Settings
FLASK_APP=app.py
FLASK_ENV=development
FLASK_DEBUG=True
FLASK_SECRET_KEY=your_flask_secret_key_here

# MySQL Database Connection Settings
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_mysql_password_here
DB_NAME=wms

# MongoDB Connection Settings
MONGO_URI=mongodb://localhost:27017/

# Payment (UPI QR) Configuration
UPI_ID=your_upi_id_here@bank
